In [1]:
SourceString01 = 'This is the beginning'
SourceString02 = ' of working with strings'
SourceString03 = ' in Jupyter Notebook'

In [2]:
# CONCATENATING STRINGS (use '+' sign)
Concatenated_Output_String = SourceString01 + SourceString02 + SourceString03
print(Concatenated_Output_String)

This is the beginning of working with strings in Jupyter Notebook

In [3]:
# LENGTH OF A STRING (use 'len' function)
print(len(Concatenated_Output_String))

65

In [4]:
# DISPLAYING UPPER CASE (all letters in uppercase)
Concatenated_Output_String.upper()

'THIS IS THE BEGINNING OF WORKING WITH STRINGS IN JUPYTER NOTEBOOK'

In [5]:
# DISPLAYING LOWER CASE (all letters in lowercase)
Concatenated_Output_String.lower()

'this is the beginning of working with strings in jupyter notebook'

In [6]:
# DISPLAYING TITLE CASE (first letters of each word in uppercase)
Concatenated_Output_String.title()

'This Is The Beginning Of Working With Strings In Jupyter Notebook'

In [7]:
# SWAP UPPER VS LOWER CASE (swap uppercase and lowercase)
Concatenated_Output_String.swapcase()

'tHIS IS THE BEGINNING OF WORKING WITH STRINGS IN jUPYTER nOTEBOOK'

In [8]:
# SPLITTING EACH WORDS -- if no arguments given, split by whitespace
Concatenated_Output_String.split()

['This',
 'is',
 'the',
 'beginning',
 'of',
 'working',
 'with',
 'strings',
 'in',
 'Jupyter',
 'Notebook']

In [18]:
#SPLIT A STRING USING DELIMETER - example using whitespace delimiter -> returns a LIST
SourceString01.split(' ')

['This', 'is', 'the', 'beginning']

In [9]:
# PRINTING IN NEW LINE 01
print(SourceString01 + '\n' + SourceString02 + '\n' + SourceString03)

This is the beginning
 of working with strings
 in Jupyter Notebook

In [10]:
# PRINTING IN NEW LINE 02
print('This is the beginning\n of working with strings\n in Jupyter Notebook')

This is the beginning
 of working with strings
 in Jupyter Notebook

In [11]:
# TAB SEPARATION
print('This is the beginning\t of working with strings\t in Jupyter Notebook')

This is the beginning	 of working with strings	 in Jupyter Notebook

In [12]:
#STIP A STRING (REMOVES WHITE SPACE from ' of working with strings')
SourceString02.strip()

'of working with strings'

In [13]:
#FIND A SET OF CHARACTERS - if found, returns position of the first character, else returns '-1' if not found)
SourceString01.find('beginning')

12

In [14]:
#FIND A SET OF CHARACTERS - if found, returns position of the first character, else returns '-1' if not found)
SourceString01.find('awesome')

-1

In [15]:
#CHECKING BOOLEAN EXPRESSION OF FIRST LETTER - results in True/Falseb
SourceString01.startswith('T')

True

In [16]:
#CHECKING BOOLEAN EXPRESSION OF LAST LETTER - results in True/Falseb
SourceString01.endswith('x')

False

In [17]:
#REPLACING A STRING VALUE - syntax -> string.replace('old','new')
Replaced_SourceString01=SourceString01.replace('This','It')
Replaced_SourceString01

'It is the beginning'

In [19]:
#PARTITION A STRING USING DELIMETER APPLICABLE FOR THE FIRST OCCURRENCE ONLY - example using whitespace delimiter -> returns a TUPLE
SourceString01.partition(' ')

('This', ' ', 'is the beginning')

In [20]:
#JOINNING A STRING WITH SOME RANDOM VALUES - syntax -> 'joinning delimiter'.join([list of strings]) 
' '.join([SourceString01,'of a new era'])

'This is the beginning of a new era'

In [21]:
# ENUMERATE - RETURNS POSITION AND ALL CORRESPONDING VALUES IN NESTED LIST AND TUPLE FORMAT
list(enumerate('BOY'))

[(0, 'B'), (1, 'O'), (2, 'Y')]

### STRING INDEXING - SourceString01 = 'This is the beginning'

### indexing formula - [x:y:z]
### x = starting index, default 0
### y = length, default max length of string
### z = step size, default 1

In [22]:
# FINDING FIRST LETTER OF A STRING (index 0 = first position)
SourceString01[0]

'T'

In [23]:
# PRINTING FULL STRING FROM BEGINNING 01
SourceString01[::]

'This is the beginning'

In [24]:
# PRINTING FULL STRING FROM BEGINNING 02
SourceString01[0::]

'This is the beginning'

In [25]:
# PRINTING FULL STRING FROM END / REVERSING A STRING (here '-1' is the step size)
SourceString01[::-1]

'gninnigeb eht si sihT'

In [26]:
# REVERSING STRING WITH 1 ALTERNATE LETTER (here '-2' is the step size as it will skip 1 and look for next predecessor)
SourceString01[::-2]

'gingbets iT'

In [27]:
# PRINTING FIRST 7 LETTERS
SourceString01[0:6]

'This i'

In [28]:
# PRINTING FIRST 4 LETTERS WITH 1 ALTERNATE (here '2' is the step size as it will skip 1 and look for next successor)
SourceString01[0:8:2]

'Ti s'

In [29]:
# PRINTING STRING FROM A SPECIFIC INDEX TO REVERSE
SourceString01[3::-1]

'sihT'

### STRING FORMATTING - EASY METHOD

In [31]:
# FORMAT WITH INTEGER VALUES
print("He is approx %d miles away" %(30))

He is approx 30 miles away

In [32]:
# FORMAT WITH STRING VALUES
print("He lives in %s" %('USA'))

He lives in USA

In [33]:
#FORMAT WITH FLOAT VALUES - with %f post decimal zeros also get printed
print("Value of pie is %f" %(3.14))

Value of pie is 3.140000

In [34]:
#FORMAT WITH FLOAT VALUES - with %g post decimal last zeros does not get printed
print("Value of pie is %g" %(3.14))

Value of pie is 3.14

### STRING FORMATTING - DEFAULT POSITIONAL METHOD

In [36]:
#REPLACE THE '{}' WITH RESPECTIVE SEQUENTIAL VALUES
'He is {} and he is from {}. He is {} years old'.format('John','USA',5)

'He is John and he is from USA. He is 5 years old'

### STRING FORMATTING - CUSTOM POSITIONAL METHOD

In [38]:
#REPLACE THE '{n}' WITH RESPECTIVE CUSTOM VALUES - should be format tupple word index values like 0, 1, 2 etc.
'He is {1} and he is from {2}. He is {0} years old'.format(10,'Jack','Europe')

'He is Jack and he is from Europe. He is 10 years old'

### STRING FORMATTING - CUSTOM FLAG METHOD

In [40]:
#REPLACE THE '{n}' WITH RESPECTIVE CUSTOM FLAG VALUES - here name, place, age flags used
'He is {name} and he is from {place}. He is {age} years old'.format(age=20,name='Rob',place='Germany')

'He is Rob and he is from Germany. He is 20 years old'